[submodule "ccip-rebase-token/lib/ccip"]
	path = ccip-rebase-token/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "ccip-rebase-token/lib/chainlink"]
	path = ccip-rebase-token/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
